<div class="col s12 m6 l3">
    <div class="card hoverable">
        <div class="card-image">
            {% if recipe.imgUrl %}
            <img class="activator" src="{{ recipe.imgUrl }}" alt="Recipe Image" rel="noopener">
            {% else %}
            <img class="activator" src="{{ url_for('static', filename='img/default.png') }}" alt="Recipe Image" rel="noopener">
            {% endif %}
        </div>
        <div class="card-content grey lighten-3">
            <a class="card-title" href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">{{ recipe.recipeName }}</a>
            <a class="underline" href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">View Recipe</a>
        </div>
    </div>
</div>