.text-shadow {
    text-shadow: 2px 2px 2px rgba(0,0, 0, 0.5);
}

.social-media-icons {
    text-align: center;
    font-size: 2rem;
    background-color: rgba(0,0, 0, 0.3);
}

footer a {
    text-decoration: none;
    color: white;
}

.card-content a {
    color: black;
}

.underline {
    text-decoration: underline;
}

body {
    background: url(../img/bg.png) no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    position: relative;
}

main {
    flex: 1 0 auto;
}

#add-recipe-card, #view-recipe-card {
    width: 100%;
}

#view-recipe-card img {
    max-width: 200px;
}

.title {
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    border-radius: 5px;
}

@media only screen and (max-width: 312px) {
    a.brand-logo {
        font-size: 1.3rem;
    }    
}

@media only screen and (min-width: 313px) and (max-width: 437px) {
    a.brand-logo {
        font-size: 1.5rem;
    }    
}

@media only screen and (min-width: 993px) {
    a.brand-logo {
        padding-left: 20px;
    }    
}