{% extends "base.html" %}
{% block content %}

<div id="view-recipe-card" class="row card">
    <div class="col card-content">
        {% if recipe.imgUrl %}
        <div id="view-recipe-img">
            <img src="{{ recipe.imgUrl }}" alt="image of {{ recipe.recipeName }}">
        </div>
        {% endif %}
        <h3>{{ recipe.recipeName }}</h3>
        <h5>Submitted by {{ created_by }}</h5>
        <p>{{ recipe.recipeDescription }}</p>
        <ul>
            <li><h4>Ingredients</h4></li>
            {% for ingredient in recipe.ingredients %}
            <li>{{ ingredient }}</li>
            {% endfor %}
        </ul>        
        <ul>
            <li><h4>Method</h4></li>
            {% for step in recipe.method %}
            <li>{{ step }}</li>
            <br>
            {% endfor %}
        </ul>
        {% if "user" in session %}
        <a class="btn waves-effect waves-light yellow darken-1 black-text text-shadow"
            href="{{ url_for('update_recipe_details', recipe_id=recipe._id) }}">Edit Recipe
            <i class="fas fa-paper material-icons right"></i>
        </a>
        <a class="btn waves-effect waves-light red text-shadow"
            href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}">Delete Recipe
            <i class=" fas fa-times material-icons right"></i>
        </a>
        {% endif %}
    </div>
</div>


{% endblock %}